PORT=3001
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_1rHNe3FijzlW@ep-blue-forest-aolv3tr5.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require

CLERK_PUBLISHABLE_KEY=pk_test_cGVyZmVjdC1lZ3JldC01OC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_mkajQArDnMGWukiR3F1EKtWwgDYd76NrSUgseycrEP


SENTRY_DSN=https://0d309d0c01cce8f11ab92d73bf94d275@o4511319251025920.ingest.us.sentry.io/4511319261904896


STREAM_KEY= ypkku9w23pq8
STREAM_APP_SECRET=35eq7g7fhbv97b95cqpw92nkdfbtsy5q6kzn8v4ypam9mp6bth7vp3tj3963yzhv

IMAGEKIT_PUBLIC_KEY= public_kNWc6C4n/ynnAdrJhpI2rkVSTcY=
IMAGEKIT_PRIVATE_KEY= private_IhcW69FDqVvWQ1ffeezmpldzrMg=
IMAGEKIT_URL_ENDPOINT= https://ik.imagekit.io/rtu59lnwk